

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="over" >
    <button type="button" class="menu-drawer-btn menu-drawer-close-btn" (click)="drawer.close()">
        <i class="material-icons">close</i>
    </button>
    <mat-action-list class="menu-action-list" *ngIf="menu">
      <button mat-list-item *ngFor="let menuItem of menu">{{ menuItem | titlecase }}</button>
    </mat-action-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" (click)="drawer.toggle()" class="menu-drawer-btn menu-drawer-toggle-btn">
        <i class="material-icons">menu</i>
    </button>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
