$black-color: #000000;
$white-color: #ffffff;

$header-container-wrapper-bg-color: $black-color;
$header-container-wrapper-text-color: $white-color;
$header-container-wrapper-height: 54px;

$mat-drawer-width: 250px;
$menu-drawer-btn-size: 40px;
$menu-drawer-toggle-btn-text-color: $white-color;

$weather-time-larg-text-size: 28px;
